/* ===== COMMON CSS START ===== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 a{
     text-decoration: none !important;
     display: inline-block;
 }
 ul,ol,li{
     list-style-type: none;
 }
 body{
     overflow-x: hidden;
     background: #FFF !important;
 }
 html,body{
     scroll-behavior: unset !important;
 }
.line-break{
    display: block;
}
.container{
    width: 1120px !important;
}

/* ===== COMMON CSS   END ===== */








/* ===========================
    TITLE PART CSS START
=========================== */

#title-part{
    padding-top: 80px;
    padding-bottom: 40px;
}
.title-row{
    justify-content: center;
}
.title-text{
    text-align: center;
}

.title-text h2{
    font-family: 'DM Sans', sans-serif;
    font-size: 68px;
    font-weight: 600;
    color: #000;
}

.title-magic-ani{
    background: linear-gradient(90deg, #000, #FFD700 , #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: title-magic-ani 10s infinite linear;
}
@keyframes title-magic-ani {
        
    0%{
        background-position: 0% center;
    }
    50%{
        background-position: 200% center;
    }
}

.title-text p{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    padding-top: 25px;
}
.title-yellow-text{
    color: #ffb500;
}


/* ===========================
    TITLE PART CSS END
=========================== */








/* ===========================
    COURSE MODULE PART CSS START
=========================== */

#course-module{
    padding-bottom: 100px;
}
.course-row{
    justify-content: space-around;
    display: flex;
}
.module-left{

}
.course-module-main{

}
.course-module-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: 40px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.card-1{
    margin-right: 40px;
}
.module-card-bg {
    width: 215px;
    margin-right: 40px;
}
.module-info{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}
.module-icon{
    font-size: 28px;
    /* color: #7FC8B7; */
}
.module-icon i{
    background: linear-gradient(90deg, #ffa600, #FFD700 , #ffa600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: module-card-icon-ani 20s infinite linear;
}
@keyframes module-card-icon-ani {
        
    0%{
        background-position: 0% center;
    }
    50%{
        background-position: 200% center;
    }
}

.module-text{
    margin-left: 25px;
}
.module-text .module-week{
    color: #FFDC72;
}

.module-text h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #F7F7F7;
    margin-top: 14px;
}
.mentor-info{
    border-radius: 8px !important;
    margin-top: -10px;
}
.mentor-img-info{

}
.mentor-info-bg{
    background: #f2f2f2;
    margin-right: 40px;
    border-radius: 8px;
}

.mentor-info-upper-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.istructor-text{
    background: radial-gradient(circle,  #ffa600, #FFD700 , #ffa600);
    padding: 10px;
    width: 130px;
    text-align: center;
    margin-top: -20px;
    border-radius: 4px;
    padding: 8px;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    background-size: 200%;
    animation: instructor-ani 200s infinite linear;
    color: #000;
}
@keyframes instructor-ani {
        
    0%{
        background-position: 0% center;
    }
    50%{
        background-position: -2000% center;
    }
    100%{
        background-position: 0% center;
    }
}


.mentor-img-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.mentor-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: radial-gradient(circle,  #ffa600, #ffe600 , #ffa600);
    object-fit: cover;
    overflow: hidden;
    margin-left: 0px;
    background-size: 100%;
    animation: mentor-img-bg 200s infinite linear;
}
@keyframes mentor-img-bg {
        
    0%{
        background-position: 0% center;
    }
    50%{
        background-position: -2000% center;
    }
    100%{
        background-position: 0% center;
    }
}
.mentor-img img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.mentor-img-text{
    margin-left: 0px;
}

.mentor-img-text h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    padding-top: 10px;
}




/* THIS IS MENTOR NAME HOVER ANIMATION START  */
.word{
    background: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fancy .letter{
    display: inline-block;
    background: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    font-weight: 600;
    background-size: 200%;
    animation: mentor-name-ani 10s infinite linear;
}
@keyframes mentor-name-ani {
        
    0%{
        background-position: 0% center;
    }
    50%{
        background-position: -2000% center;
    }
    100%{
        background-position: 0% center;
    }
}
.word:hover .letter{
    background: linear-gradient(90deg, #000, #000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: fancy-float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes fancy-float {
        
    0%{
        color: red;
    }
    50%{
        color: #1fc7ff;
    }
    100%{
        color: red;
    }
}
#full-float:hover{
    transform: translate(-0%, 0%);
    animation-name: fancy-float-full;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes fancy-float-full {
        
    0%{
        transform: translate(-0%, 0%);
    }
    50%{
        transform: translate(-2%, 2%);
    }
    100%{
        transform: translate(-0%, 0%);
    }
}

.fancy > .letter {
    transition: transform 350ms ease;
  }
  
  .fancy:hover > .letter {
    transition-duration: 800ms;
  }
  
  .fancy:hover > .letter > .inner {
    animation: float 5s ease infinite;
}

.fancy:hover > .letter:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
  }
  
  .fancy:hover > .letter:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
  }
  
  .fancy:hover > .letter:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
  }
  
  .fancy:hover > .letter:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
  }
  
  .fancy:hover > .letter:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
  }
  
  .fancy:hover > .letter:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
  }
  
  .fancy:hover > .letter:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
  }
  
  .fancy:hover > .letter:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
  }
  
  .fancy:hover > .letter:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
  }
  
  .fancy:hover > .letter:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
  }
  
  .fancy:hover > .letter:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
  }
  
  .fancy:hover > .letter:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
  }
  .fancy:hover > .letter:nth-child(13) {
    transform: translate(120%, 20%) rotate(-12deg);
  }
  .fancy:hover > .letter:nth-child(14) {
    transform: translate(120%, -10%) rotate(-20deg);
  }
  .fancy:hover > .letter:nth-child(15) {
    transform: translate(280%, -50%) rotate(-15deg);
  }
  .fancy:hover > .letter:nth-child(16) {
    transform: translate(130%, -40%) rotate(8deg);
  }
  .fancy:hover > .letter:nth-child(17) {
    transform: translate(100%, 30%) rotate(8deg);
  }
  .fancy:hover > .letter:nth-child(18) {
    transform: translate(140%, 40%) rotate(8deg);
  }
#text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
  }
/* THIS IS MENTOR NAME HOVER ANIMATION END  */



.module-bottom{
    margin-top: -10px;
    z-index: -1;
    position: relative;
}
.module-bottom-text{
    text-align: center;
    background: #202020;
    padding: 10px 25px;
    margin-right: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.module-bottom-text h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #FFF;
    padding-top: 25px;
    padding-bottom: 10px;
}




.course-video{
    text-align: center;
}
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    border-radius: 8px;
    overflow: hidden;
    filter: drop-shadow(0px 0px 10px #000);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.video-text{
    margin-top: 25px;
}
.video-text h4{
    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
    color: #000;
}
.video-text h4 a{
    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 38px;
    background: linear-gradient(90deg, #000, #FFD700, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: video-text-link 200s infinite linear;
}
@keyframes video-text-link {
        
    0%{
        background-position: 0% center;
    }
    50%{
        background-position: -2000% center;
    }
    100%{
        background-position: 0% center;
    }
}

.course-btn{
    margin-top: 50px;
    transition: all linear 0.2s;
}
.course-btn a button{
    background: transparent;
    border: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    padding: 10px 20px;
}
.course-btn:hover{
    transform: scale(1.2);
}

.course-price{
    color: #000  ;
    font-weight: 600;
}


.gradient-button {
    display: inline-block;
    padding: 12px 44px;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background: #FFD700;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    padding: 10px 20px;
}
  

/* ===========================
    COURSE MODULE PART CSS END
=========================== */








/* ===========================
    COURSE INRO PART CSS START
=========================== */

#course-info{
    padding: 100px 0px;
    background: #DEDEDE;
}
.course-head{
    margin-left: 85px;
}
.heading{
    padding-bottom: 50px;
}

.heading h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 44px;
    font-weight: 500;
    background: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading p{
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    padding-top: 20px;
}
.common-color-text{
    color: #e07b0b;
}

.course-info-row{
    justify-content: center;
    margin: 25px 0px;
}
.course-card{
    background: #555;
    /* padding: 10px; */
    border-radius: 8px;
    height: 300px;
}
.card-info{
    display: flex;
    
}
.card-text{
    display: flex;
    padding-top: 20px;
}
.card-text i{
    font-size: 22px;
    color: #FFD700;
}
.card-text h4{
    font-family: 'DM Sans', sans-serif;
    padding-bottom: 22px;
    padding-left: 22px;
    padding-right: 8px;
    font-size: 22px;
    line-height: 32px;
    color: #FFF;
}
.card-bottom-text{
    padding-top: 30px;
}
.card-bottom-text p{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #ffa600, #FFD700, #ffa600);
    -webkit-background-clip: text;
    background-clip: text;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 8px;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}
.card-bottom-bonus-text p{
    color: #FFD700;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 8px;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}
.card-text .bonus-icon{
    font-size: 22px;
    color: #FFD700;
}
.card-img-bg{
    background-color: #565656;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0,0,0,.25);
    display: flex;
    align-items: center;
    height: 300px;
}

.card-img-bg img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* ===========================
    COURSE INRO PART CSS END
=========================== */








/* ===========================
    WORK HELP PART CSS START
=========================== */

#work-help{
    padding-top: 100px;
    padding-bottom: 150px;
}
.work-head{
    margin-left: 85px;
}
.work-heading{
    padding-bottom: 50px;
}

.work-heading h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(90deg, #000, #000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.work-heading p{
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    color: #000;
    padding-top: 20px;
}
.common-color-text{
    color: #e07b0b;
}


.work-img-row{
    justify-content: center;
}
.work-shape-wrapper{
    padding-top: 300px;
    padding-bottom: 150px;
}
.work-main-circle {
    height: 400px;
    width: 400px;
    background: radial-gradient(circle at center, yellow 10%, white 100%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 40%;
}
.work-front-circle {
    height: 200px;
    width: 200px;
    background: radial-gradient(circle at center, orange 5%, yellow 100%);
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}
.work-front-circle img {
    margin: 50px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.circle-text {
    position: absolute;
    bottom: -230px;
    left: 5%;
}
.circle-text h4 {
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    color: #000;
    text-align: center;
}
.line-shape-1 {
    height: 150px;
    width: 150px;
    background: black;
    position: absolute;
    top: -215px;
    left: 20px;
    transform: rotate(90deg);
    clip-path: polygon(41% 30%, 41% 46%, 100% 46%, 100% 52%, 41% 52%, 41% 70%, 18% 50%);
    z-index: -1;
}
.line-shape-2 {
    height: 150px;
    width: 150px;
    background: black;
    position: absolute;
    bottom: -110px;
    left: -170px;
    transform: rotate(-40deg);
    clip-path: polygon(41% 30%, 41% 46%, 100% 46%, 100% 52%, 41% 52%, 41% 70%, 18% 50%);
    z-index: -1;
}
.line-shape-3 {
    height: 150px;
    width: 150px;
    background: #000;
    position: absolute;
    bottom: -110px;
    right: -170px;
    transform: rotate(215deg);
    clip-path: polygon(41% 30%, 41% 46%, 100% 46%, 100% 52%, 41% 52%, 41% 70%, 18% 50%);
    z-index: -1;
}

.line-1-text {
    position: absolute;
    top: -160px;
    left: 50px;
}
.line-1-text h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    color: #000;
}
.line-2-text {
    position: absolute;
    bottom: -30px;
    left: -350px;
}
.line-2-text h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    color: #000;
}
.line-3-text {
    position: absolute;
    bottom: -30px;
    right: -350px;
}
.line-3-text h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    color: #000;
}


/* ===========================
    WORK HELP PART CSS END
=========================== */








/* ===========================
    PRICING PART CSS START
=========================== */

#pricing-part {
    margin-top: 400px;
    padding-bottom: 150px;
    padding-top: 100px;
    background: #dedede;
}
.pricing-title-row{

}
.pricing-title{

}

.pricing-title h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 54px;
    font-weight: 500;
    background: linear-gradient(90deg, #000, #000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pricing-title p{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
    padding-top: 20px;
}
.common-color-text{
    color: #e07b0b;
}


.pricing-row{
    padding-top: 40px;
}

.pricing-card-bg{
    background: #555;
    padding: 20px 20px;
    margin: 0px 40px;
    border-radius: 12px;
    height: 420px;
}

.pricing-card-info{
    position: relative;
}

.card-upper-name {
    position: absolute;
    top: -60px;
    left: 52px;
}

.card-upper-name h4{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.card-name{

}

.card-name h5{
    text-align: center;
    margin: 0 auto !important;
    width: 200px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    background: #7c7c7c;
    padding-top: 4px;
    padding-bottom: 6px;
    border-radius: 4px;
}

.card-img-text-wrapper{
    display: flex;
    justify-content: center;
}
#pricing-part .slick-slide img{
    display: inline;
}
#pricing-part .slick-list.draggable {
    padding: 100px 0px !important;
}
.card-image{
    margin: 0 auto !important;
    text-align: center !important;
    padding-top: 15px;
    padding-bottom: 10px;
}
.card-image img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-intro{
    padding-top: 10px;
}

.card-intro h6{
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    background: linear-gradient(90deg, #FFD700, #FFD700, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-intro p{
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #FFF;
}


.pricing-course-price{
    position: relative;
}
.price-bg {
    background: #888888;
    padding-top: 10px;
    padding-bottom: 6px;
    border-radius: 8px;
    width: 116.5%;
    position: absolute;
    top: 10px;
    left: -20px;
}
.price-bg h4{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
}
.price-bg h4 span{
    background: linear-gradient(90deg, #000, #FFD700, #000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% auto;
    animation: price-ani 100s linear infinite;
    font-weight: 600;
}
@keyframes price-ani {
    0%{
        background-position: 0% center;
    }
    50%{
        background-position: -2000% center;
    }
    100%{
        background-position: 0% center;
    }
  }


.prev-next-icon{
    position: relative;
}
.prev-next-icon i{
    line-height: 40px;
    font-size: 20px;
    font-weight: 800;
    color: #000000;
}
.prev{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fec600;
    position: absolute;
    top: 50%;
    left: 47%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}
.next{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fec600;
    position: absolute;
    top: 50%;
    right: 42%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}

.note{
    margin-top: 100px;
}

.note p{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
}

.pricing-btns{
    text-align: center;
    margin-top: 50px;
    transition: all linear 0.2s;
}
.pricing-btns a button{
    background: transparent;
    border: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    padding: 10px 20px;
}
.pricing-btns:hover{
    transform: scale(1.2);
}

.gradient-button {
    display: inline-block;
    padding: 12px 44px;
    font-size: 28px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background: #FFD700;
  }
  


/* ===========================
    PRICING PART CSS END
=========================== */








/* ===========================
    WORK PART CSS START
=========================== */

#team-part{
    padding-top: 100px;
    padding-bottom: 150px;
}
.team-title-row{

}
.team-title{

}

.team-title h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 54px;
    font-weight: 600;
    background: linear-gradient(90deg, #000, #000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.team-wrapper{
    display: flex;
    align-items: center;
}
.team-img img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.team-text h4{
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    color: #000;
    margin-left: 25px;
}
.team-row{
    margin-top: 50px !important;
    justify-content: space-between;
}
.team-col-space{
    margin-top: 25px !important;
}

/* last commit here  */

/* ===========================
    WORK PART CSS END
=========================== */








/* ===========================
    WORKSHOP PART CSS START
=========================== */

#workshop{
    padding-bottom: 100px;
    padding-top: 50px;
    background: #e7e7e7;
}
.common-color{
    color: #e07b0b !important;
}
.workshop-title-row{
    padding: 100px 0px;
}
.workshop-title{

}

.workshop-title h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 54px;
    font-weight: 500;
    background: linear-gradient(90deg, #000, #000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.workshop-title p{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
    padding-top: 20px;
}


.work-card{
    padding: 15px 30px;
    border-radius: 8px;
    background: #555;
    display: flex;
    align-items: center;
}

.work-icon{
    padding-right: 20px;
}

.work-icon i{
    font-size: 24px;
    color: #FFF;
}
.work-text{
    
}
.work-text p{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 0px !important;
}

.work-white-space{
    margin: 50px 0px;
}

.work-card{
    position: relative;
}
.work-next-arrow {
    position: absolute;
    top: 50px;
    left: 310px;
}


/* ===========================
    WORKSHOP PART CSS END
=========================== */








/* ===========================
    REVIERW PART CSS START
=========================== */

#review-part{
    padding-top: 100px;
    padding-bottom: 100px;
}
.common-color{
    color: #e07b0b !important;
}
.review-title-row{

}
.review-title{

}
.review-title h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 54px;
    font-weight: 500;
    background: linear-gradient(90deg, #000, #000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.review-title p{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
    padding-top: 20px;
}
.review-video-row{
    padding: 25px 0px;
}

.course-video{
    text-align: center;
}
.review-video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
    /* filter: drop-shadow(0px 0px 10px #000); */
}

.review-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-col{
    margin: 20px 0px;
}

.review-image-row{
    padding: 25px 0px;
    background: #e0e0e0;
}
.review-image-text{
    text-align: center;
    padding: 30px 0px;
}
.review-image-text h4{
    font-family: 'DM Sans', sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #000;
}
.review-image{
    margin: 10px 0px;
    text-align: center;
}
.review-image img{
    width: 300px;
    object-fit: cover;
}
.review-bottom-text{
    padding: 50px 0px;
}
.review-bottom-text p{
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
}

/* ===========================
    REVIERW PART CSS END
=========================== */








/* ===========================
    OFFERS PART CSS START
=========================== */

#offers-part{
    padding-top: 80px;
    padding-bottom: 40px;
}
.offers-title-row{
    justify-content: center;
}


.offers-title h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #000;
}

.offers-magic-ani{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 25px;
    background: linear-gradient(90deg, #000, #e07b0b , #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: offers-magic-ani 10s infinite linear;
}
@keyframes offers-magic-ani {
        
    0%{
        background-position: 0% center;
    }
    50%{
        background-position: 200% center;
    }
}
.offer-main-row{
    justify-content: space-between;
    align-items: center;
}
.offer-info-wrapper{
    display: flex;
}

.offer-icon{
    margin-right: 20px;
}
.offer-icon i{
    color: #000;
    font-size: 22px;
}
.offers-list{
    margin: 30px 0px;
}
.offer-list-text p{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: -5px;
}
.common-bold{
    font-weight: 700;
    color: #e07b0b;
}

.bonuse-title{
    padding-bottom: 50px;
}
.bonus-offer-icon{
    margin-right: 20px;
}
.bonus-offer-icon i{
    color: #e07b0b;
    font-size: 22px;
}
.bonus-offers-list{
    margin: 40px;
}
.bonus-offer-list-text p{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-top: -5px;
}


.offer-card-bg{
    background: #555;
    padding: 20px;
    border-radius: 20px;
}
.offer-card-heading{

}
.offer-card-heading h4{
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
    padding-bottom: 20px;
}
.offer-card-heading p{
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #ffe3c4;
    padding-bottom: 40px;
}
.offer-card-icon{
    margin-right: 20px;
}
.offer-card-icon i{
    font-size: 24px;
    color: #ffe3c4;
}
.offer-card-text{

}
.offer-card-text p{
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #FFF;
    margin-top: -8px;
}






/* ===========================
    OFFERS PART CSS END
=========================== */








/* ===========================
    HOME PART CSS START
=========================== */



/* ===========================
    HOME PART CSS END
=========================== */













/* ===========================
    ANIMATED SECTIONS CSS START
=========================== */

.div{
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
}

/* ===========================
    ANIMATED SECTIONS CSS END
=========================== */